<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Betting app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >Betting app</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/index}">Nowa gra</a></li>c
                <li><a href="#" th:href="@{/ranking-table}">Ranking graczy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Miejsce w rankingu: <span th:text="${user.id}"></span></a></li>
                <li><a>Ilość punktów:  <span th:text="${user.userPoints}"></span></a></li>
                <li><a>Użytkownik: <span sec:authentication="principal.username"></span></a></li>
                <li><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Wyloguj się</a></li>
            </ul>
        </div>
    </nav>
    <table class="table table-striped table-bordered" style="text-align:center;">
        <thead class="thead-dark">
        <tr>
            <th>Drużyna gospodarzy</th>
            <th>Remis</th>
            <th>Drużyna gości</th>
        </tr>
        </thead>
        <tbody>
        <form th:object="${userInput}" th:action="@{/results}" method="post" >
            <tr th:each="game : ${games}" >
                <td >
                        <label th:text="${games.get(__${gameStat.index}__).hostsTeam}"></label><br>
                        <label th:text="${games.get(__${gameStat.index}__).decimalHostsOdd}"></label>
                        <input class="input" type="radio" th:field="*{userInput[__${gameStat.index}__]}" value="1"/>
                </td>
                <td>
                        <label th:text="X"></label><br>
                        <label th:text="${games.get(__${gameStat.index}__).decimalDrawOdd}"></label>
                        <input class="input" type="radio" th:field="*{userInput[__${gameStat.index}__]}" value="2"/>
                </td>
                <td>
                        <label th:text="${games.get(__${gameStat.index}__).guestsTeam}"></label><br>
                        <label th:text="${games.get(__${gameStat.index}__).decimalGuestsOdd}"></label>
                        <input class="input" type="radio" th:field="*{userInput[__${gameStat.index}__]}" value="3"/>
                </td>
            </tr>
                <td style="position: relative;">
                    <button style="position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);" type="button" onclick="clearSelection()" class="btn btn-secondary">Wyczyść odpowiedzi</button>
                </td>
                <td>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Stawka kuponu</span>
                    </div>
                    <input type="number"  th:field="*{stake}" min="1" max="50" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/></td>
                <td style="position: relative;">
                    <button style="position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);" type="submit" class="btn btn-success">Postaw kupon</button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
<script>
    function clearSelection() {
      const inputs = document.querySelectorAll(".input");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].checked = false;
      }
    }
</script>
</body>
</html>